/* 

# Regras CSS
- Use `class` para estilizar elementos específicos.
- Evite IDs para estilização, prefira classes.
- Use `!important` apenas quando necessário.
- Mantenha a hierarquia de seletores simples.
- Use comentários para explicar blocos de código complexos.
- Evite duplicação de código.
- Use unidades relativas (%, em, rem) para tamanhos.
- Use `flexbox` ou `grid` para layouts responsivos.
- Mantenha a consistência de espaçamento e alinhamento.
- Use variáveis CSS para cores e fontes reutilizáveis.
- Evite regras CSS desnecessárias ou redundantes.

*/

/* Body */

@import url('assets/css/reset-e-global.css');

body {
    background-image: url('assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    background-color: var(--color-background);
    color: var(--color-text);
}

/* Header */

header {
    padding-top: 2rem;
    text-align: center;
}

header img { 
    width: 15rem;
}

/* Main */

main {
    max-width: 36rem;
    width: 90%;
    margin: 3rem auto;
}

/* Section */
section {
    background-image: var(--bg-gradient);
    border-radius: 0.625rem;
    padding-top: 0.25rem;
}

section > .section-txt {
    padding: 2rem;
    padding-top: 1.5rem;
    background-color: var(--bg-text);
    border-radius: 0.5rem;
}

.section-txt h2 {
    letter-spacing: -0.47px ;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.section-txt p {
    letter-spacing: -0.18px;
    font-size: 1rem;
    line-height: 1.5;
    color: #A1A1AA;
}

/* Animações */
section {
    opacity: 0;
    transform: translateY(2rem);
    animation: appear 0.7s forwards;
}

@keyframes appear {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Form */
form {
    display: flex;
    gap: 0.85rem;
    flex-wrap: wrap;
    margin: 1.25rem 0;
}

input, select {
    all: unset;
    border: 2px solid #9147ff;
    border-radius: 0.5rem;
    padding: .675rem;
    font-size: 0.875rem;
    background-color: #00000066;
}

input {
    flex: 1;
}

button {
    width: 100%;
    background-image: var(--bg-gradient);
    color: #353434;
    border: none;
    border-radius: 0.5rem;
    padding: .675rem;
    font-size: 0.875rem;
    cursor: pointer;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: translateY(-3px);
    background-image: none;
    background-color: #7428d148; 
    color: #ffffffd3;
    box-shadow: 0 5px 1rem rgba(255, 248, 107, 0.2);
}