@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    line-height: 160%;
}

:root {
    --color-background: #121214;
    --color-text: #fff;
    --color-primary: #9572FC;
    --color-secondary: #43E7AD;
    --color-tertiary: #E2D45C;

    --bg-gradient: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary) 50%, var(--color-tertiary) 100%);
    --bg-text:  #2A2634;
}
